doctype html
html
    head
        title='Pedido Realizado'
        style
            include styles.css
    body
        div(class='userLog')
            a(class='userText')
                span Su pedido ha sido realizado
        div(class='titulo') 
            span Redirigiendo... 
        script.
            setTimeout(function () {window.location = "/"}, 2000)

