doctype html
html
    head
        title='Compra enviada'
        style
            include styles.css
    body
        div(class='userLog')
            a(class='userText')
                span Su compra esta siendo preparada.
        div(class='titulo') 
            span Redirigiendo... 
        script.
            setTimeout(function () {window.location = "/"}, 2000)

