html
    head
        title='Productos'
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js')
        script(src='/public/index.js')
        style
            include styles.css
    div(id='navbar')
        include navbar.pug
        include userlog.pug
    body
        div(id='chat')
            div(class='titulo')
                span="Centro de mensajes"
                span(id='cajaCompresion')
            div(id='cajaMensajes')
                    
            form(id='chatForm' onsubmit='return chatear()')
                input(id='chatMail' type='email' name='chatMail' required placeholder="Ingresa un correo" )
                input(id='chatNomb' type='text' name='chatNomb' required placeholder="Ingresa tu nombre" )
                input(id='chatApel' type='text' name='chatApell' required placeholder="Ingresa tu apellido" )
                input(id='chatEdad' type='text' name='chatEdad' required placeholder="Ingresa tu edad" )
                input(id='chatAlias' type='text' name='chatAlias' required placeholder="Ingresa tu alias" )
                input(id='chatAvat' type='text' name='chatAvat' required placeholder="Ingresa la direccion de tu avatar" )
                input(id='chatMensaje' type='text' name='chatMensaje' value='' required )
                div( class='botones' )
                    input(type='submit' id='submit' value='Enviar Mensaje')