doctype html
html
    head
        title='Error en login'
        style
            include styles.css
    body
        div(class='userLog')
            a(class='userText')
                span Credenciales no válidas
        div(class='titulo') 
            span Redirigiendo... 
        script.
            setTimeout(function () {window.location = "/"}, 2000)

