doctype html
html
    head
        title='Productos'
        script(src='/socket.io/socket.io.js')
        script(src='/public/index.js')
        style
            include styles.css
    include navbar.pug
    body
        include formulario.pug
        include productos.pug
        include chat.pug            
    include footer.pug
    