div(class='navbar')
    a(class='nb-item' href='/') Inicio
    div(class='dropdown')
        a(class='nb-item' href='/productos/') Productos
        div(class='dropdown-items')
            a(class='nb-item' href='/productos/categoria/Pol') Polarizados
            a(class='nb-item' href='/productos/categoria/Color') Colores
    a(class='nb-item' href='/chat/') Chat