div(class='navbar')
    a(class='nb-item' href='/')
        span="Inicio"
    a(class='nb-item' href='/api/productos-test/')
        span="Productos Random"
    a(class='nb-item' href='/info/')
        span="Info"