doctype html
html
    head
        title='Register'
        style
            include styles.css
        div(id='logInBox')
            div(class='titulo')
                span="Registro de usuario"
            form(id='loginForm' method="POST" action="/signup") 
                input(id='username' type='email' name='username' required placeholder="Ingresa tu correo")
                input(id='password' type='text' name='password' required placeholder="Ingresa tu contraseña")
                div(class='botones')
                    input(type='submit' id='submit' class='botonLogin' value='Registro')
            button(onclick='location.href="/"' id='submit' class='botonLogin') Ir al login