html{
  scroll-behavior: smooth;
  background-color: hwb(69 23% 75%);
  font-family: 'Helvetica';
}

body{
  background-color: rgb(255, 183, 0);
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.titulo{
  display: flex;
  align-self: center;
  justify-content: center;
  width:100%;
  margin-bottom: 20px;
  background-color: rgb(255, 183, 0);
  flex-wrap: nowrap;
}

.titulo span{
  font-size: 1.7em;
  color: rgb(246, 243, 239);;
  font-weight: 900;
  margin: 7px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

#formulario{
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
  margin-top:2em;
  padding:1em;
  color:rgb(227, 65, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-weight: 700;
}

#form input[type="text"]{
  width:300px;
}

.campo{
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.campo label{
  margin-right:4px;
}

.botones{
  display: flex;
  justify-content: center;
}

.botones input{
  padding: 2px;
  margin: 15px;
  font-weight: bolder;
  font-size: 1.2em;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px; 
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(242, 146, 12);
  width: 200px;
  height: 20px;
}

.nb-item{
  background-color: rgba(255, 0, 0, 0.416);
  width: 45%;
  margin-top: 3px; 
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color:azure;
  font-size: 18px;
  font-weight: 600;
}

.nb-item:hover{
  background-color: rgba(248, 248, 248, 0.416);
  color:rgb(144, 50, 0);
  text-align: center;
}

.footer{
  color: azure;
}

.footer:hover{
  background-color: rgba(248, 248, 248, 0.416);
  color:rgb(144, 50, 0);
}

#productos{
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding:1em;
  padding-bottom: 1em;
}

.productos{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.productos table{
  align-self: center;
}

.producto{
  display: flex;
  flex-direction: row;
  margin: 40px;
}

th{
  color: rgb(246, 243, 239);
  font-size: 1.1em;
  font-weight: 600;
  margin:3px;
  background-color: rgba(33, 33, 33, 0.541);
  padding: 3px;
}

td{
  width: 20%;
  height: 60px;
  color: rgb(44, 44, 44);
  font-size: 1em;
  font-weight: normal;
  margin:auto;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.163);
}

img{
    height: 50px;
}

#chat{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  padding:1em;
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
}

#chatMail{
  width: 40%;
}

#chatMensaje{
  width: 50%;
}

#cajaMensajes{
  height:300px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#cajaMensajes p{
  height: auto;
  margin:1%;
}
.mensajeMail{
  color: blue;
  font-weight: bolder;
}

.mensajeStamp{
  color: red;
  font-weight: lighter;
}

.mensajeMsg{
  color: green;
  font-style: italic;
}

#chatForm{
  display: flex;
  flex-direction: column;
}