html{
  scroll-behavior: smooth;
  background-color: rgb(255, 183, 0);
  font-family: 'Helvetica';
  
}

body{
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.titulo{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width:60%;
  background-color: rgb(255, 183, 0);
}

.titulo span{
  font-size: 1.6em;
  color: rgb(246, 243, 239);;
  font-weight: 900;
  margin: 10px;
  text-align: center;
}

#cajaCompresion{
  font-size: 1em;
  color: rgb(253, 229, 198);;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.formulario{
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
  margin-top:2em;
  padding:1em;
  color:rgb(227, 65, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-weight: 700;
}

#form legend{
  background-color: rgb(255, 183, 0);
  font-size: 1.4em;
  color: rgb(246, 243, 239);;
  font-weight: bolder;
  margin: 10px;
  text-align: center;
}

#form input[type="text"]{
  width:300px;
}

.campo{
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.campo label{
  margin-right:4px;
}

.botones{
  display: flex;
  justify-content: center;
}

.botones input{
  padding: 2px;
  margin: 15px;
  font-weight: bolder;
  font-size: 1.2em;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 33px; 
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(242, 146, 12);
  width: auto;
}

.nb-item{
  background-color: rgba(255, 0, 0, 0.416);
  width: auto;
  height: auto;
  margin-top: 3px; 
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color:azure;
  font-size: 18px;
  font-weight: 600;
  margin: 0.5em;
}

.nb-item:hover{
  background-color: rgba(248, 248, 248, 0.416);
  color:rgb(144, 50, 0);
  text-align: center;
}

.nb-item span{
  padding: 0.4em;
}

.footer{
  color: azure;
}

.footer:hover{
  background-color: rgba(248, 248, 248, 0.416);
  color:rgb(144, 50, 0);
}

.productos{
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  padding:1em;
  padding-bottom: 1em;
}

.producto{
  display: flex;
  flex-direction: row;
  margin: 40px;
}

th{
  color:darkorange;
  font-size: 1.1em;
  font-weight:lighter;
  margin:3px;
  background-color: rgba(33, 33, 33, 0.541);
  padding: 3px;
}

td{
  height: 60px;
  color: rgb(44, 44, 44);
  font-size: 1em;
  font-weight: normal;
  margin:auto;
  text-align: center;
  background-color: rgba(33, 33, 33, 0.163);
}

.text-id{
  width: 10%;
  font-weight: bold;
  color:antiquewhite;
}

.text-name{
  width:50%;
  font-weight: bold;
  color:lightgreen
}

.text-price{
  width:20%;
  font-weight:lighter;
  color:lightpink;
}

img{
    height: 60px;
}

#chat{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  padding:1em;
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
}

#chat input{
  width: 40%;
}

#chatMensaje{
  width: 50%;
  min-height: 5rem;
}

#cajaMensajes{
  padding-top: 1rem;
  height:300px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 90%;
  align-self: center;
}

#cajaMensajes p{
  height: auto;
  margin:1%;
}
.mensajeMail{
  color: blue;
  font-weight: bolder;
}

.mensajeStamp{
  color: red;
  font-weight: lighter;
}

.mensajeMsg{
  color: green;
  font-style: italic;
}

#chatForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#logInBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logInBox .titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:33px;
  background-color: rgb(242, 146, 12);
  border-radius: 5px;
  margin-bottom: 20px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carroId {
  display:none
}

#navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:1em;
  padding-bottom: 1em;
}

.userLog{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  margin-top:33px;
  background-color: rgb(242, 146, 12);
  border-radius: 5px;
  flex-wrap: wrap;
}

.userLog a span{
  font-weight: bolder;
  font-size: 1.2em;
  color: azure;
}

.userText{
  display: flex;
  justify-content: flex-start;
  width: 40%;
  align-items: center;
}

.avatar{
  height: 60px;
  max-width: 60px;
  margin: 2px;
  margin-right: 10px;
}
.botonLogin{
  background-color: rgba(255, 0, 0, 0.416);
  border: none;
  color: azure;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 3px; 
  margin:9px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.logoutButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonLogin:hover{
  background-color: azure;
  color: rgba(255, 0, 0, 0.416);
}

.info {
  background-image: linear-gradient(to right, hsl(51, 99%, 41%), rgb(242, 146, 12));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding:1em;
  padding-bottom: 1em;
}

.info a{
  color: azure;
  margin-top: 1.6em;
}

.info span{
  margin: 0.6em;
  color:crimson; 
}
#numeros{
  display: flex;
  flex-direction: column;
}
.numeros{
  color: grey;
  font-weight: bolder;
  margin: 2px;
}

#carroId{
  pointer-events: none;
  background-color:#E9ECEF"
}