div(class='userLog')
    a(class='userText')
        img(class='avatar' src=userdata.avatar)
        span #{usuario}
    a(class='nb-item' href='/api/carrito')
        span="Carrito"
    a(class='logoutButton')
        form(id='logOutForm' method="GET" action="/logout")
                div
                    input(type='submit' id='submit' class='botonLogin' value='Salir')
