div(class='userLog')
    a(class='userText')
        span(id='userChatId') #{usuario}
    a(class='nb-item' href='/carrito')
        span="Carrito"
    a(class='logoutButton')
        form(id='logOutForm' method="GET" action="/login/logout")
                input(type='submit' id='submit' class='botonLogin' value='Salir')
