doctype html
html
    head
        title='Productos'
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js')
        script(src='/public/index.js')
        style
            include styles.css
    div(id='navbar')
        include navbar.pug
        include userlog.pug
    body
        include productos.pug
        include chat.pug            
    include footer.pug